[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/Tpope/vim-fugitive
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/Tpope/vim-surround
[submodule "bundle/oblique"]
	path = bundle/oblique
	url = https://github.com/arntzy/oblique.git
[submodule "bundle/pydoc.vim"]
	path = bundle/pydoc.vim
	url = https://github.com/vim-scripts/pydoc.vim
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/slime"]
	path = bundle/slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "bundle/inori"]
	path = bundle/inori
	url = https://github.com/duythinht/inori.git 
[submodule "bundle/vim-fanfingtastic"]
	path = bundle/vim-fanfingtastic 
	url = https://github.com/dahu/vim-fanfingtastic.git 
[submodule "bundle/vim-hdevtools"]
	path = bundle/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools.git
[submodule "bundle/vim-lilypond-integrator"]
	path = bundle/vim-lilypond-integrator
	url = https://github.com/gisraptor/vim-lilypond-integrator.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "bundle/vim-better-javascript-completion"]
	path = bundle/vim-better-javascript-completion
	url = https://github.com/1995eaton/vim-better-javascript-completion.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/vim-closetag"]
	path = bundle/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "bundle/vim-latex-live-preview"]
	path = bundle/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
[submodule "bundle/vim-vimtex"]
	path = bundle/vim-vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "bundle/vim-grepper"]
	path = bundle/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/railscast-theme"]
	path = bundle/railscast-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = https://github.com/junegunn/fzf.git
