snippet cactus
/**
 🌵 Cactus Technologies 
 🌵 Copyright (c) `date +%Y` Cactus Inc. All rights reserved.
 🌵 
 🌵 `!p snip.rv = snip.fn`
 * 
 * @file ${2:[Description]}
 * @author ${3:[Name]} 
 */
endsnippet
